h1 {
  bookmark-label: content(text);
  bookmark-level: 1;
  display: block;
  font-size: 1.6rem;
}
h1::before {
  content: "1";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h2 {
  bookmark-label: content(text);
  bookmark-level: 2;
  display: block;
  font-size: 1.4rem;
}
h2::before {
  content: "2";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h3 {
  bookmark-label: content(text);
  bookmark-level: 3;
  display: block;
  font-size: 1.2rem;
}
h3::before {
  content: "3";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h4 {
  bookmark-label: content(text);
  bookmark-level: 4;
  display: block;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}
h4::before {
  content: "4";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h5 {
  bookmark-label: content(text);
  bookmark-level: 5;
  display: block;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}
h5::before {
  content: "5";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h6 {
  bookmark-label: content(text);
  bookmark-level: 6;
  display: block;
  font-size: 1rem;
  margin: 0;
}
h6::before {
  content: "6";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h7 {
  bookmark-label: content(text);
  bookmark-level: 7;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h7::before {
  content: "7";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h8 {
  bookmark-label: content(text);
  bookmark-level: 8;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h8::before {
  content: "8";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h9 {
  bookmark-label: content(text);
  bookmark-level: 9;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h9::before {
  content: "9";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h10 {
  bookmark-label: content(text);
  bookmark-level: 10;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h10::before {
  content: "10";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h11 {
  bookmark-label: content(text);
  bookmark-level: 11;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h11::before {
  content: "11";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h12 {
  bookmark-label: content(text);
  bookmark-level: 12;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h12::before {
  content: "12";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h13 {
  bookmark-label: content(text);
  bookmark-level: 13;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h13::before {
  content: "13";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h14 {
  bookmark-label: content(text);
  bookmark-level: 14;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h14::before {
  content: "14";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h15 {
  bookmark-label: content(text);
  bookmark-level: 15;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h15::before {
  content: "15";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h16 {
  bookmark-label: content(text);
  bookmark-level: 16;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h16::before {
  content: "16";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h17 {
  bookmark-label: content(text);
  bookmark-level: 17;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h17::before {
  content: "17";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h18 {
  bookmark-label: content(text);
  bookmark-level: 18;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h18::before {
  content: "18";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h19 {
  bookmark-label: content(text);
  bookmark-level: 19;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h19::before {
  content: "19";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h20 {
  bookmark-label: content(text);
  bookmark-level: 20;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h20::before {
  content: "20";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h21 {
  bookmark-label: content(text);
  bookmark-level: 21;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h21::before {
  content: "21";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h22 {
  bookmark-label: content(text);
  bookmark-level: 22;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h22::before {
  content: "22";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h23 {
  bookmark-label: content(text);
  bookmark-level: 23;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h23::before {
  content: "23";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h24 {
  bookmark-label: content(text);
  bookmark-level: 24;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h24::before {
  content: "24";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h25 {
  bookmark-label: content(text);
  bookmark-level: 25;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h25::before {
  content: "25";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h26 {
  bookmark-label: content(text);
  bookmark-level: 26;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h26::before {
  content: "26";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h27 {
  bookmark-label: content(text);
  bookmark-level: 27;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h27::before {
  content: "27";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h28 {
  bookmark-label: content(text);
  bookmark-level: 28;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h28::before {
  content: "28";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h29 {
  bookmark-label: content(text);
  bookmark-level: 29;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h29::before {
  content: "29";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h30 {
  bookmark-label: content(text);
  bookmark-level: 30;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h30::before {
  content: "30";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h31 {
  bookmark-label: content(text);
  bookmark-level: 31;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h31::before {
  content: "31";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h32 {
  bookmark-label: content(text);
  bookmark-level: 32;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h32::before {
  content: "32";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h33 {
  bookmark-label: content(text);
  bookmark-level: 33;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h33::before {
  content: "33";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h34 {
  bookmark-label: content(text);
  bookmark-level: 34;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h34::before {
  content: "34";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h35 {
  bookmark-label: content(text);
  bookmark-level: 35;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h35::before {
  content: "35";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h36 {
  bookmark-label: content(text);
  bookmark-level: 36;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h36::before {
  content: "36";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h37 {
  bookmark-label: content(text);
  bookmark-level: 37;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h37::before {
  content: "37";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h38 {
  bookmark-label: content(text);
  bookmark-level: 38;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h38::before {
  content: "38";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h39 {
  bookmark-label: content(text);
  bookmark-level: 39;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h39::before {
  content: "39";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h40 {
  bookmark-label: content(text);
  bookmark-level: 40;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h40::before {
  content: "40";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h41 {
  bookmark-label: content(text);
  bookmark-level: 41;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h41::before {
  content: "41";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h42 {
  bookmark-label: content(text);
  bookmark-level: 42;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h42::before {
  content: "42";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h43 {
  bookmark-label: content(text);
  bookmark-level: 43;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h43::before {
  content: "43";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h44 {
  bookmark-label: content(text);
  bookmark-level: 44;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h44::before {
  content: "44";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h45 {
  bookmark-label: content(text);
  bookmark-level: 45;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h45::before {
  content: "45";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h46 {
  bookmark-label: content(text);
  bookmark-level: 46;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h46::before {
  content: "46";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h47 {
  bookmark-label: content(text);
  bookmark-level: 47;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h47::before {
  content: "47";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h48 {
  bookmark-label: content(text);
  bookmark-level: 48;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h48::before {
  content: "48";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h49 {
  bookmark-label: content(text);
  bookmark-level: 49;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h49::before {
  content: "49";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h50 {
  bookmark-label: content(text);
  bookmark-level: 50;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h50::before {
  content: "50";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h51 {
  bookmark-label: content(text);
  bookmark-level: 51;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h51::before {
  content: "51";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h52 {
  bookmark-label: content(text);
  bookmark-level: 52;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h52::before {
  content: "52";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h53 {
  bookmark-label: content(text);
  bookmark-level: 53;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h53::before {
  content: "53";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h54 {
  bookmark-label: content(text);
  bookmark-level: 54;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h54::before {
  content: "54";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h55 {
  bookmark-label: content(text);
  bookmark-level: 55;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h55::before {
  content: "55";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h56 {
  bookmark-label: content(text);
  bookmark-level: 56;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h56::before {
  content: "56";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h57 {
  bookmark-label: content(text);
  bookmark-level: 57;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h57::before {
  content: "57";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h58 {
  bookmark-label: content(text);
  bookmark-level: 58;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h58::before {
  content: "58";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h59 {
  bookmark-label: content(text);
  bookmark-level: 59;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h59::before {
  content: "59";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h60 {
  bookmark-label: content(text);
  bookmark-level: 60;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h60::before {
  content: "60";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h61 {
  bookmark-label: content(text);
  bookmark-level: 61;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h61::before {
  content: "61";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h62 {
  bookmark-label: content(text);
  bookmark-level: 62;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h62::before {
  content: "62";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h63 {
  bookmark-label: content(text);
  bookmark-level: 63;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h63::before {
  content: "63";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h64 {
  bookmark-label: content(text);
  bookmark-level: 64;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h64::before {
  content: "64";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h65 {
  bookmark-label: content(text);
  bookmark-level: 65;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h65::before {
  content: "65";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h66 {
  bookmark-label: content(text);
  bookmark-level: 66;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h66::before {
  content: "66";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h67 {
  bookmark-label: content(text);
  bookmark-level: 67;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h67::before {
  content: "67";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h68 {
  bookmark-label: content(text);
  bookmark-level: 68;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h68::before {
  content: "68";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h69 {
  bookmark-label: content(text);
  bookmark-level: 69;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h69::before {
  content: "69";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h70 {
  bookmark-label: content(text);
  bookmark-level: 70;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h70::before {
  content: "70";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h71 {
  bookmark-label: content(text);
  bookmark-level: 71;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h71::before {
  content: "71";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h72 {
  bookmark-label: content(text);
  bookmark-level: 72;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h72::before {
  content: "72";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h73 {
  bookmark-label: content(text);
  bookmark-level: 73;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h73::before {
  content: "73";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h74 {
  bookmark-label: content(text);
  bookmark-level: 74;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h74::before {
  content: "74";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h75 {
  bookmark-label: content(text);
  bookmark-level: 75;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h75::before {
  content: "75";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h76 {
  bookmark-label: content(text);
  bookmark-level: 76;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h76::before {
  content: "76";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h77 {
  bookmark-label: content(text);
  bookmark-level: 77;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h77::before {
  content: "77";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h78 {
  bookmark-label: content(text);
  bookmark-level: 78;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h78::before {
  content: "78";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h79 {
  bookmark-label: content(text);
  bookmark-level: 79;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h79::before {
  content: "79";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h80 {
  bookmark-label: content(text);
  bookmark-level: 80;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h80::before {
  content: "80";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h81 {
  bookmark-label: content(text);
  bookmark-level: 81;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h81::before {
  content: "81";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h82 {
  bookmark-label: content(text);
  bookmark-level: 82;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h82::before {
  content: "82";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h83 {
  bookmark-label: content(text);
  bookmark-level: 83;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h83::before {
  content: "83";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h84 {
  bookmark-label: content(text);
  bookmark-level: 84;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h84::before {
  content: "84";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h85 {
  bookmark-label: content(text);
  bookmark-level: 85;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h85::before {
  content: "85";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h86 {
  bookmark-label: content(text);
  bookmark-level: 86;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h86::before {
  content: "86";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h87 {
  bookmark-label: content(text);
  bookmark-level: 87;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h87::before {
  content: "87";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h88 {
  bookmark-label: content(text);
  bookmark-level: 88;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h88::before {
  content: "88";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h89 {
  bookmark-label: content(text);
  bookmark-level: 89;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h89::before {
  content: "89";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h90 {
  bookmark-label: content(text);
  bookmark-level: 90;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h90::before {
  content: "90";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h91 {
  bookmark-label: content(text);
  bookmark-level: 91;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h91::before {
  content: "91";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h92 {
  bookmark-label: content(text);
  bookmark-level: 92;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h92::before {
  content: "92";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h93 {
  bookmark-label: content(text);
  bookmark-level: 93;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h93::before {
  content: "93";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h94 {
  bookmark-label: content(text);
  bookmark-level: 94;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h94::before {
  content: "94";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h95 {
  bookmark-label: content(text);
  bookmark-level: 95;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h95::before {
  content: "95";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h96 {
  bookmark-label: content(text);
  bookmark-level: 96;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h96::before {
  content: "96";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h97 {
  bookmark-label: content(text);
  bookmark-level: 97;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h97::before {
  content: "97";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h98 {
  bookmark-label: content(text);
  bookmark-level: 98;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h98::before {
  content: "98";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h99 {
  bookmark-label: content(text);
  bookmark-level: 99;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h99::before {
  content: "99";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h100 {
  bookmark-label: content(text);
  bookmark-level: 100;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h100::before {
  content: "100";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h101 {
  bookmark-label: content(text);
  bookmark-level: 101;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h101::before {
  content: "101";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h102 {
  bookmark-label: content(text);
  bookmark-level: 102;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h102::before {
  content: "102";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h103 {
  bookmark-label: content(text);
  bookmark-level: 103;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h103::before {
  content: "103";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h104 {
  bookmark-label: content(text);
  bookmark-level: 104;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h104::before {
  content: "104";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h105 {
  bookmark-label: content(text);
  bookmark-level: 105;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h105::before {
  content: "105";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h106 {
  bookmark-label: content(text);
  bookmark-level: 106;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h106::before {
  content: "106";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h107 {
  bookmark-label: content(text);
  bookmark-level: 107;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h107::before {
  content: "107";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}
h108 {
  bookmark-label: content(text);
  bookmark-level: 108;
  display: block;
  font-size: 1rem;
  line-height: 1.6em;
}
h108::before {
  content: "108";
  font-size: 0.6rem;
  margin: 0 0.8em 0 -2em;
}